@use "../abstracts/index" as *;

body {
    background-color: $clr-neutral-100;
}

.App {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

#main {
    flex-grow: 1;
}

#header,
#footer {
    flex-grow: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}