html {
    box-sizing: border-box;    
    scroll-behavior: smooth;

    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    background: none;

    cursor: pointer;
}